@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Students", "Index", "Students")</h2>
        <p>
            Here you can view current student personal and academic details.
            You can also add new students, edit existing and delete former.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Enrollments", "Index", "Enrollments")</h2>
        <p>
            Here you can enroll students onto courses and update their grades.

        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Courses", "Index", "Courses")</h2>
        <p>Here Courses can be created, edited or deleted.</p>

    </div>
</div>
</div>